/////////////////////////////////////////////////////////////////////////
////////////////layout

.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-white);
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--line);
}

.content{    
    display: flex;
}

.sidebar{
    background-color: var(--color-grey-7);    
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotelview{   
    flex: 1;    
    font-size: 1.4rem;
}

.detail{    
    background-color: var(--color-grey-1);
    padding: 4.5rem;
    display: flex;
}

.description{
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: var(--color-white);
    padding: 3rem;
}

.userreviews{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}