/////////////////////////////////////////////////////////////////////////
////////////////layout

.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-white);
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--line);
}

.content{
    height: 52rem;   //test
    background-color: wheat;    //test
    display: flex;
}

.sidebar{
    height: 50rem;   //test
    background-color: var(--color-grey-7);    //test
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotelview{
    height: 50rem;   //test
    flex: 1;
}